<div class="image-left">
<img src="source" alt="Movie Poster Logo"/>

<link rel="stylesheet" type="text/css" href="moviedetailspage.css"/>

<div class="table">
  <table>
    <tr>
      <td>Title:</td>
      <td>{{title}}</td>
    <tr>
      <td>Director:</td>
      <td>{{director}}</td>  
    <tr>
      <td>Spooky Rating:</td>
      <td>{{rating}}</td>  
    <tr>
      <td>Genre:</td>
      <td>{{genre}}</td> 
    <tr>
      <td>Plot Summary:</td>
      <td>{{summary}}</td>   
  